# Maestro
.maestro/outputs/
test-results
recordings
test-report

# Node
node_modules/
*.log

# Binaries
#*.apk
*.aab
*.ipa

# OS/IDE
.DS_Store
.idea/
.vscode/

apps/ios
.scripts/ios/ios_test_runner.sh