name: Android Tests

on:
  workflow_dispatch

jobs:
  test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '11'
      - uses: dniHze/maestro-test-action@v1
      - uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 34
          arch: x86_64
          ram-size: 2048M
          target: default
          script: maestro test .maestro/flows --config .maestro/configs/wikipedia.config.yaml -e appId=org.wikipedia --format html --output test-results/wikipedia.html
