# Documentation: https://docs.maestro.dev/cloud/ci-integration/github-actions
name: Android Tests (Maestro Cloud)

on:
  workflow_dispatch:

jobs:
  maestro-cloud:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Upload APK and run flows on Maestro Cloud
        uses: mobile-dev-inc/action-maestro-cloud@v2
        with:
          api-key: ${{ secrets.MAESTRO_API_KEY }}
          project-id: ${{ secrets.MAESTRO_PROJECT_ID }} # Results link example: https://app.maestro.dev/project/proj_01k9mja44afzda9hdjfcgv81fx/maestro-test/app/app_01k9qj4xcqfeaas80rctcxy7dn
          app-file: apps/android/wikipedia/wikipedia.apk
          workspace: .maestro
          env: |
            appId=org.wikipedia
          android-api-level: 34
          device-locale: en_US
          exclude-tags: util,recordTemplate
          timeout: 60000